[*]
charset = utf-8
continuation_indent_size = 1
curly_bracket_next_line = false
end_of_line = crlf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 120
quote_type = single
spaces_around_brackets = false
spaces_around_operators = true
tab_width = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
indent_style = space

[*.json]
indent_style = tab
